{
  "openapi": "3.1.1",
  "info": {
    "title": "GoDaddy Domains API v1",
    "version": "1.0.0",
    "description": "API for managing domains, contacts, hosts, and related operations"
  },
  "servers": [
    {
      "url": "https://api.godaddy.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Manage Domain Settings"
    },
    {
      "name": "Register and Renew Domains"
    },
    {
      "name": "Manage DNS"
    },
    {
      "name": "Transfer Domains"
    },
    {
      "name": "Find Domains"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/domains": {
      "get": {
        "tags": [
          "Manage Domain Settings"
        ],
        "parameters": [
          {
            "description": "Shopper ID which owns the domain. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account.",
            "in": "header",
            "name": "X-Shopper-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Only include results with `status` value in the specified set",
            "in": "query",
            "name": "statuses",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "ACTIVE",
                  "AWAITING_CLAIM_ACK",
                  "AWAITING_DOCUMENT_AFTER_TRANSFER",
                  "AWAITING_DOCUMENT_AFTER_UPDATE_ACCOUNT",
                  "AWAITING_DOCUMENT_UPLOAD",
                  "AWAITING_FAILED_TRANSFER_WHOIS_PRIVACY",
                  "AWAITING_PAYMENT",
                  "AWAITING_RENEWAL_TRANSFER_IN_COMPLETE",
                  "AWAITING_TRANSFER_IN_ACK",
                  "AWAITING_TRANSFER_IN_AUTH",
                  "AWAITING_TRANSFER_IN_AUTO",
                  "AWAITING_TRANSFER_IN_WHOIS",
                  "AWAITING_TRANSFER_IN_WHOIS_FIX",
                  "AWAITING_VERIFICATION_ICANN",
                  "AWAITING_VERIFICATION_ICANN_MANUAL",
                  "CANCELLED",
                  "CANCELLED_HELD",
                  "CANCELLED_REDEEMABLE",
                  "CANCELLED_TRANSFER",
                  "CONFISCATED",
                  "DISABLED_SPECIAL",
                  "EXCLUDED_INVALID_CLAIM_FIREHOSE",
                  "EXPIRED_REASSIGNED",
                  "FAILED_BACKORDER_CAPTURE",
                  "FAILED_DROP_IMMEDIATE_THEN_ADD",
                  "FAILED_PRE_REGISTRATION",
                  "FAILED_REDEMPTION",
                  "FAILED_REDEMPTION_REPORT",
                  "FAILED_REGISTRATION",
                  "FAILED_REGISTRATION_FIREHOSE",
                  "FAILED_RESTORATION_REDEMPTION_MOCK",
                  "FAILED_SETUP",
                  "FAILED_TRANSFER_IN",
                  "FAILED_TRANSFER_IN_BAD_STATUS",
                  "FAILED_TRANSFER_IN_REGISTRY",
                  "HELD_COURT_ORDERED",
                  "HELD_DISPUTED",
                  "HELD_EXPIRATION_PROTECTION",
                  "HELD_EXPIRED_REDEMPTION_MOCK",
                  "HELD_REGISTRAR_ADD",
                  "HELD_REGISTRAR_REMOVE",
                  "HELD_SHOPPER",
                  "HELD_TEMPORARY",
                  "LOCKED_ABUSE",
                  "LOCKED_COPYRIGHT",
                  "LOCKED_REGISTRY",
                  "LOCKED_SUPER",
                  "PARKED_AND_HELD",
                  "PARKED_EXPIRED",
                  "PARKED_VERIFICATION_ICANN",
                  "PENDING_ABORT_CANCEL_SETUP",
                  "PENDING_AGREEMENT_PRE_REGISTRATION",
                  "PENDING_APPLY_RENEWAL_CREDITS",
                  "PENDING_BACKORDER_CAPTURE",
                  "PENDING_BLOCKED_REGISTRY",
                  "PENDING_CANCEL_REGISTRANT_PROFILE",
                  "PENDING_COMPLETE_REDEMPTION_WITHOUT_RECEIPT",
                  "PENDING_COMPLETE_REGISTRANT_PROFILE",
                  "PENDING_COO",
                  "PENDING_COO_COMPLETE",
                  "PENDING_DNS",
                  "PENDING_DNS_ACTIVE",
                  "PENDING_DNS_INACTIVE",
                  "PENDING_DOCUMENT_VALIDATION",
                  "PENDING_DOCUMENT_VERIFICATION",
                  "PENDING_DROP_IMMEDIATE",
                  "PENDING_DROP_IMMEDIATE_THEN_ADD",
                  "PENDING_EPP_CREATE",
                  "PENDING_EPP_DELETE",
                  "PENDING_EPP_UPDATE",
                  "PENDING_ESCALATION_REGISTRY",
                  "PENDING_EXPIRATION",
                  "PENDING_EXPIRATION_RESPONSE",
                  "PENDING_EXPIRATION_SYNC",
                  "PENDING_EXPIRED_REASSIGNMENT",
                  "PENDING_EXPIRE_AUTO_ADD",
                  "PENDING_EXTEND_REGISTRANT_PROFILE",
                  "PENDING_FAILED_COO",
                  "PENDING_FAILED_EPP_CREATE",
                  "PENDING_FAILED_HELD",
                  "PENDING_FAILED_PURCHASE_PREMIUM",
                  "PENDING_FAILED_RECONCILE_FIREHOSE",
                  "PENDING_FAILED_REDEMPTION_WITHOUT_RECEIPT",
                  "PENDING_FAILED_RELEASE_PREMIUM",
                  "PENDING_FAILED_RENEW_EXPIRATION_PROTECTION",
                  "PENDING_FAILED_RESERVE_PREMIUM",
                  "PENDING_FAILED_SUBMIT_FIREHOSE",
                  "PENDING_FAILED_TRANSFER_ACK_PREMIUM",
                  "PENDING_FAILED_TRANSFER_IN_ACK_PREMIUM",
                  "PENDING_FAILED_TRANSFER_IN_PREMIUM",
                  "PENDING_FAILED_TRANSFER_PREMIUM",
                  "PENDING_FAILED_TRANSFER_SUBMIT_PREMIUM",
                  "PENDING_FAILED_UNLOCK_PREMIUM",
                  "PENDING_FAILED_UPDATE_API",
                  "PENDING_FRAUD_VERIFICATION",
                  "PENDING_FRAUD_VERIFIED",
                  "PENDING_GET_CONTACTS",
                  "PENDING_GET_HOSTS",
                  "PENDING_GET_NAME_SERVERS",
                  "PENDING_GET_STATUS",
                  "PENDING_HOLD_ESCROW",
                  "PENDING_HOLD_REDEMPTION",
                  "PENDING_LOCK_CLIENT_REMOVE",
                  "PENDING_LOCK_DATA_QUALITY",
                  "PENDING_LOCK_THEN_HOLD_REDEMPTION",
                  "PENDING_PARKING_DETERMINATION",
                  "PENDING_PARK_INVALID_WHOIS",
                  "PENDING_PARK_INVALID_WHOIS_REMOVAL",
                  "PENDING_PURCHASE_PREMIUM",
                  "PENDING_RECONCILE",
                  "PENDING_RECONCILE_FIREHOSE",
                  "PENDING_REDEMPTION",
                  "PENDING_REDEMPTION_REPORT",
                  "PENDING_REDEMPTION_REPORT_COMPLETE",
                  "PENDING_REDEMPTION_REPORT_SUBMITTED",
                  "PENDING_REDEMPTION_WITHOUT_RECEIPT",
                  "PENDING_REDEMPTION_WITHOUT_RECEIPT_MOCK",
                  "PENDING_RELEASE_PREMIUM",
                  "PENDING_REMOVAL",
                  "PENDING_REMOVAL_HELD",
                  "PENDING_REMOVAL_PARKED",
                  "PENDING_REMOVAL_UNPARK",
                  "PENDING_RENEWAL",
                  "PENDING_RENEW_EXPIRATION_PROTECTION",
                  "PENDING_RENEW_INFINITE",
                  "PENDING_RENEW_LOCKED",
                  "PENDING_RENEW_WITHOUT_RECEIPT",
                  "PENDING_REPORT_REDEMPTION_WITHOUT_RECEIPT",
                  "PENDING_RESERVE_PREMIUM",
                  "PENDING_RESET_VERIFICATION_ICANN",
                  "PENDING_RESPONSE_FIREHOSE",
                  "PENDING_RESTORATION",
                  "PENDING_RESTORATION_INACTIVE",
                  "PENDING_RESTORATION_REDEMPTION_MOCK",
                  "PENDING_RETRY_EPP_CREATE",
                  "PENDING_RETRY_HELD",
                  "PENDING_SEND_AUTH_CODE",
                  "PENDING_SETUP",
                  "PENDING_SETUP_ABANDON",
                  "PENDING_SETUP_AGREEMENT_LANDRUSH",
                  "PENDING_SETUP_AGREEMENT_SUNRISE2_A",
                  "PENDING_SETUP_AGREEMENT_SUNRISE2_B",
                  "PENDING_SETUP_AGREEMENT_SUNRISE2_C",
                  "PENDING_SETUP_AUTH",
                  "PENDING_SETUP_DNS",
                  "PENDING_SETUP_FAILED",
                  "PENDING_SETUP_REVIEW",
                  "PENDING_SETUP_SUNRISE",
                  "PENDING_SETUP_SUNRISE_PRE",
                  "PENDING_SETUP_SUNRISE_RESPONSE",
                  "PENDING_SUBMIT_FAILURE",
                  "PENDING_SUBMIT_FIREHOSE",
                  "PENDING_SUBMIT_HOLD_FIREHOSE",
                  "PENDING_SUBMIT_HOLD_LANDRUSH",
                  "PENDING_SUBMIT_HOLD_SUNRISE",
                  "PENDING_SUBMIT_LANDRUSH",
                  "PENDING_SUBMIT_RESPONSE_FIREHOSE",
                  "PENDING_SUBMIT_RESPONSE_LANDRUSH",
                  "PENDING_SUBMIT_RESPONSE_SUNRISE",
                  "PENDING_SUBMIT_SUCCESS_FIREHOSE",
                  "PENDING_SUBMIT_SUCCESS_LANDRUSH",
                  "PENDING_SUBMIT_SUCCESS_SUNRISE",
                  "PENDING_SUBMIT_SUNRISE",
                  "PENDING_SUBMIT_WAITING_LANDRUSH",
                  "PENDING_SUCCESS_PRE_REGISTRATION",
                  "PENDING_SUSPENDED_DATA_QUALITY",
                  "PENDING_TRANSFER_ACK_PREMIUM",
                  "PENDING_TRANSFER_IN",
                  "PENDING_TRANSFER_IN_ACK",
                  "PENDING_TRANSFER_IN_ACK_PREMIUM",
                  "PENDING_TRANSFER_IN_BAD_REGISTRANT",
                  "PENDING_TRANSFER_IN_CANCEL",
                  "PENDING_TRANSFER_IN_CANCEL_REGISTRY",
                  "PENDING_TRANSFER_IN_COMPLETE_ACK",
                  "PENDING_TRANSFER_IN_DELETE",
                  "PENDING_TRANSFER_IN_LOCK",
                  "PENDING_TRANSFER_IN_NACK",
                  "PENDING_TRANSFER_IN_NOTIFICATION",
                  "PENDING_TRANSFER_IN_PREMIUM",
                  "PENDING_TRANSFER_IN_RELEASE",
                  "PENDING_TRANSFER_IN_RESPONSE",
                  "PENDING_TRANSFER_IN_UNDERAGE",
                  "PENDING_TRANSFER_OUT",
                  "PENDING_TRANSFER_OUT_ACK",
                  "PENDING_TRANSFER_OUT_NACK",
                  "PENDING_TRANSFER_OUT_PREMIUM",
                  "PENDING_TRANSFER_OUT_UNDERAGE",
                  "PENDING_TRANSFER_OUT_VALIDATION",
                  "PENDING_TRANSFER_PREMIUM",
                  "PENDING_TRANSFER_PREMUIM",
                  "PENDING_TRANSFER_SUBMIT_PREMIUM",
                  "PENDING_UNLOCK_DATA_QUALITY",
                  "PENDING_UNLOCK_PREMIUM",
                  "PENDING_UPDATE",
                  "PENDING_UPDATED_REGISTRANT_DATA_QUALITY",
                  "PENDING_UPDATE_ACCOUNT",
                  "PENDING_UPDATE_API",
                  "PENDING_UPDATE_API_RESPONSE",
                  "PENDING_UPDATE_AUTH",
                  "PENDING_UPDATE_CONTACTS",
                  "PENDING_UPDATE_CONTACTS_PRIVACY",
                  "PENDING_UPDATE_DNS",
                  "PENDING_UPDATE_DNS_SECURITY",
                  "PENDING_UPDATE_ELIGIBILITY",
                  "PENDING_UPDATE_EPP_CONTACTS",
                  "PENDING_UPDATE_MEMBERSHIP",
                  "PENDING_UPDATE_OWNERSHIP",
                  "PENDING_UPDATE_OWNERSHIP_AUTH_AUCTION",
                  "PENDING_UPDATE_OWNERSHIP_HELD",
                  "PENDING_UPDATE_REGISTRANT",
                  "PENDING_UPDATE_REPO",
                  "PENDING_VALIDATION_DATA_QUALITY",
                  "PENDING_VERIFICATION_FRAUD",
                  "PENDING_VERIFICATION_STATUS",
                  "PENDING_VERIFY_REGISTRANT_DATA_QUALITY",
                  "RESERVED",
                  "RESERVED_PREMIUM",
                  "REVERTED",
                  "SUSPENDED_VERIFICATION_ICANN",
                  "TRANSFERRED_OUT",
                  "UNLOCKED_ABUSE",
                  "UNLOCKED_SUPER",
                  "UNPARKED_AND_UNHELD",
                  "UPDATED_OWNERSHIP",
                  "UPDATED_OWNERSHIP_HELD"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Only include results with `status` value in any of the specified groups",
            "in": "query",
            "name": "statusGroups",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "INACTIVE",
                  "PRE_REGISTRATION",
                  "REDEMPTION",
                  "RENEWABLE",
                  "VERIFICATION_ICANN",
                  "VISIBLE"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Maximum number of domains to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "description": "Marker Domain to use as the offset in results",
            "in": "query",
            "name": "marker",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional details to be included in the response",
            "in": "query",
            "name": "includes",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "authCode",
                  "contacts",
                  "nameServers"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Only include results that have been modified since the specified date",
            "in": "query",
            "name": "modifiedDate",
            "required": false,
            "schema": {
              "type": "string",
              "format": "iso-datetime"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DomainSummary"
                  },
                  "type": "array"
                }
              },
              "application/javascript": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DomainSummary"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DomainSummary"
                  },
                  "type": "array"
                }
              },
              "text/javascript": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DomainSummary"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DomainSummary"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Request was malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication info not sent or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated user is not allowed access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Limit must have a value no greater than 1000",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "list",
        "summary": "Retrieve a list of Domains for the specified Shopper",
        "description": "Returns a paginated list of domains owned by the authenticated account. Supports filtering by status and optional inclusion of contacts, nameservers, and authCode in each record."
      }
    },
    "/v1/domains/agreements": {
      "get": {
        "tags": [
          "Register and Renew Domains"
        ],
        "parameters": [
          {
            "description": "Unique identifier of the Market used to retrieve/translate Legal Agreements",
            "in": "header",
            "name": "X-Market-Id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "bcp-47",
              "default": "en-US"
            }
          },
          {
            "description": "list of TLDs whose legal agreements are to be retrieved",
            "in": "query",
            "name": "tlds",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Whether or not privacy has been requested",
            "in": "query",
            "name": "v1-privacy",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether or not domain tranfer has been requested",
            "in": "query",
            "name": "forTransfer",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/LegalAgreement"
                  },
                  "type": "array"
                }
              },
              "application/javascript": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/LegalAgreement"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/LegalAgreement"
                  },
                  "type": "array"
                }
              },
              "text/javascript": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/LegalAgreement"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/LegalAgreement"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Request was malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication info not sent or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated user is not allowed access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getAgreement",
        "summary": "Retrieve the legal agreement(s) required to purchase the specified TLD and add-ons",
        "description": "Returns the TLD-specific legal agreements that must be accepted before purchase or transfer. The agreementKeys from this response are required in the consent object."
      }
    },
    "/v1/domains/available": {
      "get": {
        "tags": [
          "Find Domains"
        ],
        "parameters": [
          {
            "description": "Domain name whose availability is to be checked",
            "in": "query",
            "name": "domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optimize for time ('FAST') or accuracy ('FULL')",
            "in": "query",
            "name": "checkType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FAST",
                "FULL",
                "fast",
                "full"
              ],
              "default": "FAST"
            }
          },
          {
            "description": "Whether or not to include domains available for transfer. If set to True, checkType is ignored",
            "in": "query",
            "name": "forTransfer",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableResponse"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableResponse"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request was malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication info not sent or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated user is not allowed access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "- Cannot convert domain label error\n- Domain is missing IDN script\n- Domain segment ends with dash\n- Domain starts with dash\n- Domain uses unsupported IDN script\n- FQDN fails generic validity regex\n- Invalid character(s) error\n- Invalid tld error\n- Non-IDN domain name must not have dashes at the third and fourth position\n- Reserved name error\n- domain must be specified\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "available",
        "summary": "Determine whether or not the specified domain is available for purchase",
        "description": "Checks whether a single domain is available to register and returns the current price in currency-micro-unit format. The definitive flag indicates whether the result came from a live registry query."
      },
      "post": {
        "tags": [
          "Find Domains"
        ],
        "parameters": [
          {
            "description": "Optimize for time ('FAST') or accuracy ('FULL')",
            "in": "query",
            "name": "checkType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FAST",
                "FULL",
                "fast",
                "full"
              ],
              "default": "FAST"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "maximum": 500,
                "type": "array"
              }
            },
            "application/xml": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "maximum": 500,
                "type": "array"
              }
            },
            "text/xml": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "maximum": 500,
                "type": "array"
              }
            }
          },
          "description": "Domain names for which to check availability",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableBulk"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableBulk"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableBulk"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableBulk"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableBulk"
                }
              }
            }
          },
          "203": {
            "description": "Request was partially successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableBulkMixed"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableBulkMixed"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableBulkMixed"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableBulkMixed"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAvailableBulkMixed"
                }
              }
            }
          },
          "400": {
            "description": "Request was malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication info not sent or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated user is not allowed access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "- Cannot convert domain label error\n- Domain is missing IDN script\n- Domain segment ends with dash\n- Domain starts with dash\n- Domain uses unsupported IDN script\n- FQDN fails generic validity regex\n- Invalid character(s) error\n- Invalid tld error\n- Non-IDN domain name must not have dashes at the third and fourth position\n- Reserved name error\n- domain must be specified\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "availableBulk",
        "summary": "Determine whether or not the specified domains are available for purchase",
        "description": "Checks availability for multiple domains in a single request. Returns an array of availability and pricing results, one per domain queried."
      }
    },
    "/v1/domains/contacts/validate": {
      "post": {
        "tags": [
          "Manage Domain Settings"
        ],
        "parameters": [
          {
            "description": "MarketId in which the request is being made, and for which responses should be localized",
            "in": "query",
            "name": "marketId",
            "required": false,
            "schema": {
              "type": "string",
              "format": "bcp-47",
              "default": "en-US"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainsContactsBulk"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DomainsContactsBulk"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/DomainsContactsBulk"
              }
            }
          },
          "description": "An instance document expected for domains contacts validation",
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "Request was successful"
          },
          "400": {
            "description": "Request was malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Request body doesn't fulfill schema, see details in `fields`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDomainContactsValidate"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDomainContactsValidate"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDomainContactsValidate"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDomainContactsValidate"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDomainContactsValidate"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "All contacts specified in request will be validated against all domains specified in \"domains\". As an alternative, you can also pass in tlds, with the exception of `uk`, which requires full domain names",
        "operationId": "ContactsValidate",
        "summary": "Validate the request body using the Domain Contact Validation Schema for specified domains."
      }
    },
    "/v1/domains/purchase": {
      "post": {
        "tags": [
          "Register and Renew Domains"
        ],
        "parameters": [
          {
            "description": "Shopper ID which owns the domain. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account.",
            "in": "header",
            "name": "X-Shopper-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/DomainPurchase"
        },
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainPurchaseResponse"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/DomainPurchaseResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DomainPurchaseResponse"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/DomainPurchaseResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DomainPurchaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request was malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication info not sent or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated user is not allowed access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "- domain must be specified\n- Based on restrictions declared in JSON schema returned by `./schema/{tld}`\n- Cannot convert domain label error\n- Domain is missing IDN script\n- Domain segment ends with dash\n- Domain starts with dash\n- Domain uses unsupported IDN script\n- FQDN fails generic validity regex\n- Invalid character(s) error\n- Invalid tld error\n- Non-IDN domain name must not have dashes at the third and fourth position\n- Reserved name error\n- `body` must be specified\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "purchase",
        "summary": "Purchase and register the specified Domain",
        "description": "Registers the specified domain. Requires a consent object with agreement keys from GET /v1/domains/agreements. Charges the account's billing method."
      }
    },
    "/v1/domains/purchase/schema/{tld}": {
      "get": {
        "tags": [
          "Register and Renew Domains"
        ],
        "parameters": [
          {
            "description": "The Top-Level Domain whose schema should be retrieved",
            "in": "path",
            "name": "tld",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchema"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchema"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchema"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchema"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchema"
                }
              }
            }
          },
          "400": {
            "description": "Request was malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication info not sent or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated user is not allowed access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`tld` must be specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "schema",
        "summary": "Retrieve the schema to be submitted when registering a Domain for the specified TLD",
        "description": "Returns the JSON schema for the domain purchase request body for the specified TLD. Fetch before purchasing to identify required fields and TLD-specific constraints."
      }
    },
    "/v1/domains/purchase/validate": {
      "post": {
        "tags": [
          "Register and Renew Domains"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/DomainPurchase"
        },
        "responses": {
          "200": {
            "description": "Request was successful"
          },
          "400": {
            "description": "Request was malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication info not sent or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated user is not allowed access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Based on restrictions declared in JSON schema returned by `./schema/{tld}`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "validate",
        "summary": "Validate the request body using the Domain Purchase Schema for the specified TLD",
        "description": "Validates a purchase request body against the TLD schema with no side effects and no charge. Returns 200 on success."
      }
    },
    "/v1/domains/suggest": {
      "get": {
        "tags": [
          "Find Domains"
        ],
        "parameters": [
          {
            "description": "Shopper ID which owns the domain. NOTE: This is only required if you are a Reseller managing a domain purchased outside the scope of your reseller account.",
            "in": "header",
            "name": "X-Shopper-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Domain name or set of keywords for which alternative domain names will be suggested",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Two-letter ISO country code to be used as a hint for target region\nNOTE: These are sample values, there are many\nmore",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "type": "string",
              "format": "iso-country-code",
              "enum": [
                "AC",
                "AD",
                "AE",
                "AF",
                "AG",
                "AI",
                "AL",
                "AM",
                "AO",
                "AQ",
                "AR",
                "AS",
                "AT",
                "AU",
                "AW",
                "AX",
                "AZ",
                "BA",
                "BB",
                "BD",
                "BE",
                "BF",
                "BG",
                "BH",
                "BI",
                "BJ",
                "BM",
                "BN",
                "BO",
                "BQ",
                "BR",
                "BS",
                "BT",
                "BV",
                "BW",
                "BY",
                "BZ",
                "CA",
                "CC",
                "CD",
                "CF",
                "CG",
                "CH",
                "CI",
                "CK",
                "CL",
                "CM",
                "CN",
                "CO",
                "CR",
                "CV",
                "CW",
                "CX",
                "CY",
                "CZ",
                "DE",
                "DJ",
                "DK",
                "DM",
                "DO",
                "DZ",
                "EC",
                "EE",
                "EG",
                "EH",
                "ER",
                "ES",
                "ET",
                "FI",
                "FJ",
                "FK",
                "FM",
                "FO",
                "FR",
                "GA",
                "GB",
                "GD",
                "GE",
                "GF",
                "GG",
                "GH",
                "GI",
                "GL",
                "GM",
                "GN",
                "GP",
                "GQ",
                "GR",
                "GS",
                "GT",
                "GU",
                "GW",
                "GY",
                "HK",
                "HM",
                "HN",
                "HR",
                "HT",
                "HU",
                "ID",
                "IE",
                "IL",
                "IM",
                "IN",
                "IO",
                "IQ",
                "IS",
                "IT",
                "JE",
                "JM",
                "JO",
                "JP",
                "KE",
                "KG",
                "KH",
                "KI",
                "KM",
                "KN",
                "KR",
                "KV",
                "KW",
                "KY",
                "KZ",
                "LA",
                "LB",
                "LC",
                "LI",
                "LK",
                "LR",
                "LS",
                "LT",
                "LU",
                "LV",
                "LY",
                "MA",
                "MC",
                "MD",
                "ME",
                "MG",
                "MH",
                "MK",
                "ML",
                "MM",
                "MN",
                "MO",
                "MP",
                "MQ",
                "MR",
                "MS",
                "MT",
                "MU",
                "MV",
                "MW",
                "MX",
                "MY",
                "MZ",
                "NA",
                "NC",
                "NE",
                "NF",
                "NG",
                "NI",
                "NL",
                "NO",
                "NP",
                "NR",
                "NU",
                "NZ",
                "OM",
                "PA",
                "PE",
                "PF",
                "PG",
                "PH",
                "PK",
                "PL",
                "PM",
                "PN",
                "PR",
                "PS",
                "PT",
                "PW",
                "PY",
                "QA",
                "RE",
                "RO",
                "RS",
                "RU",
                "RW",
                "SA",
                "SB",
                "SC",
                "SE",
                "SG",
                "SH",
                "SI",
                "SJ",
                "SK",
                "SL",
                "SM",
                "SN",
                "SO",
                "SR",
                "ST",
                "SV",
                "SX",
                "SZ",
                "TC",
                "TD",
                "TF",
                "TG",
                "TH",
                "TJ",
                "TK",
                "TL",
                "TM",
                "TN",
                "TO",
                "TP",
                "TR",
                "TT",
                "TV",
                "TW",
                "TZ",
                "UA",
                "UG",
                "UM",
                "US",
                "UY",
                "UZ",
                "VA",
                "VC",
                "VE",
                "VG",
                "VI",
                "VN",
                "VU",
                "WF",
                "WS",
                "YE",
                "YT",
                "ZA",
                "ZM",
                "ZW"
              ]
            }
          },
          {
            "description": "Name of city to be used as a hint for target region",
            "in": "query",
            "name": "city",
            "required": false,
            "schema": {
              "type": "string",
              "format": "city-name"
            }
          },
          {
            "description": "Sources to be queried\n- **CC_TLD** — Varies the TLD using Country Codes\n- **EXTENSION** — Varies the TLD\n- **KEYWORD_SPIN** — Identifies keywords and then rotates each one\n- **PREMIUM** — Includes variations with premium prices",
            "in": "query",
            "name": "sources",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "CC_TLD",
                  "EXTENSION",
                  "KEYWORD_SPIN",
                  "PREMIUM",
                  "cctld",
                  "extension",
                  "keywordspin",
                  "premium"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Top-level domains to be included in suggestions\nNOTE: These are sample values, there are many\nmore",
            "in": "query",
            "name": "tlds",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Maximum length of second-level domain",
            "in": "query",
            "name": "lengthMax",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Minimum length of second-level domain",
            "in": "query",
            "name": "lengthMin",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Maximum number of suggestions to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Maximum amount of time, in milliseconds, to wait for responses\nIf elapses, return the results compiled up to that point",
            "in": "query",
            "name": "waitMs",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "integer-positive",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DomainSuggestion"
                  },
                  "type": "array"
                }
              },
              "application/javascript": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DomainSuggestion"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DomainSuggestion"
                  },
                  "type": "array"
                }
              },
              "text/javascript": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DomainSuggestion"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DomainSuggestion"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Request was malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication info not sent or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated user is not allowed access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`query` must be specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "suggest",
        "summary": "Suggest alternate Domain names based on a seed Domain, a set of keywords, or the shopper's purchase history",
        "description": "Returns domain name suggestions based on a seed domain, keywords, or purchase history. Useful for presenting alternatives when a desired domain is unavailable."
      }
    },
    "/v1/domains/tlds": {
      "get": {
        "tags": [
          "Register and Renew Domains"
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TldSummary"
                  },
                  "type": "array"
                }
              },
              "application/javascript": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TldSummary"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TldSummary"
                  },
                  "type": "array"
                }
              },
              "text/javascript": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TldSummary"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TldSummary"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Request was malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication info not sent or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated user is not allowed access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests received within interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/javascript": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorLimit"
                }
              },
              "application/xml": {
                "schema": {
[...]
